{% extends "base.html" %}
{% load static i18n %}

{% block title %}SchimudtCHECK{% endblock %}

{% block navbar %}{% endblock %}

{% block body_class %}bg-white{% endblock %}

{% block main_class %}container min-vh-100 d-flex flex-column align-items-center justify-content-center py-4 py-sm-5{% endblock %}

{% block content %}
  <div class="row justify-content-center w-100">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-center">
      <div class="d-grid gap-4 justify-content-center">
        <img
          class="img-fluid mx-auto"
          src="{% static 'img/schimudtcheck-logo.svg' %}"
          alt="SchimudtCHECK"
        />
        <div>
          <a class="btn btn-dark btn-lg px-5" href="{% url 'login' %}">
            {% trans "เข้าสู่ระบบ" %}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
